{%extends 'base.html'%}
      {%block content%}
      {%load static%}
    
    <!-- BREADCRUMB -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="margin:0px">
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
        <li class="breadcrumb-item active" aria-current="page">Registrarme</li>
      </ol>
    </nav>


      <!-- CONTENIDO -->
      <div class="page-wrapper bg-red p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="row"><div class="card-body">
                    <div class="row">
                      </div>
                      <div class="centrar">
                      <div class="media" >
                       
                      <div class="media-body centrar">
                        <h1 class="title">¡Registrarse gratis en 4Pets!</h1>
                        <h3 class="title" id="subtitle">Solo necesitaremos lo básico</h3>
                      </div>
                      </div>
                    </div>
                      <form method="POST" id="form">{% csrf_token %}
                          <div class="row" id="cont">
                              <div class="col-sm-6">
                                  <label for="validationTooltip01" class="active">*Nombre:</label>
                                  <input name="name" id="id_name" type="text" class="form-control cuadros cuadros letra" placeholder="Ingrese su Nombre Aquí" maxlength="30" pattern="[A-Za-z]+" required>
                                  <label for="em1" class="active">*Apellido:</label>
                                  <input name="lastname" id="id_lastname" type="text" class="form-control cuadros" placeholder="Ingrese su Apellido Aquí" pattern="[A-Za-z]+" required>
                                  <label for="em1" class="active">*E-mail:</label>
                                  <input name="email" id="id_email" type="email" class="form-control cuadros cuadros letra" placeholder="Ingrese su E-mail Aquí" required> <span class="icon-down-open"></span>
                                  <label for="em2" class="active">*Username:</label>
                                        <input name="username" type="text" class="form-control cuadros" id="id_username" placeholder="Ingrese su contraseña" required>

                              </div>
                               {% for message in messages %}
                                 <div class="alert alert-success">
                                  <a class="close" href="#" data-dismiss="alert">×  </a>
                                  {{ message }}
                                 </div>
                                {% endfor %}
                              <div class="col-sm-6">
                                <label for="em1" class="active">Provincia:</label>
                                <select name="residence" id="id_residence" class="browser-default custom-select" required>
                                  <option value="" selected>Seleccione una provincia</option>
                                  <option value="Chaco">Chaco</option>
                                  <option value="Corrientes">Corrientes</option>
                                  <option value="Formosa">Formosa</option>
                                  <option value="Misiones">Misiones  </option>
                                </select>
                                <label for="em1" class="active">Sexo:</label>
                                <select name='gender'id='id_genero'class="browser-default custom-select" required>
                                  <option value="" selected>Seleccione un sexo</option>
                                  <option value="Femenino">Femenino</option>
                                  <option value="Masculino">Masculino</option>
                                  <option value="Otros">Otros</option>
                                </select>
                                    <div class="form-group">
                                        <label for="pass1 " class="active">*Contraseña:</label>
                                        <input name="password1" type="password" class="form-control cuadros" id="id_password1" placeholder="Ingrese su contraseña" required>
                                        <label for="pass2 " class="active">*Confirmación de Contraseña:</label>
                                        <input name="password2" type="password" class="form-control cuadros" id="id_password2" placeholder="Repita su contraseña" required>
                                    </div>

                              </div>

                          </div>
                          <div class="row col align-items-end botonera">
                              <div>
                                <button type="button" class="btn botones col " id="btnsalir">Atras</button>
                              </div>
                              <div>
                                <button type="submit" class="btn botones col "id="btnsig" href="#">Registrarme</button>
                              </div>

                            </div>
                      </form>

                  </div></div>

            </div>
        </div>
    </div>
{%endblock%}